<mat-accordion *ngIf="posts.length > 0; else elseblock">
  <mat-expansion-panel *ngFor="let post of posts">
    <mat-expansion-panel-header>
     <b>{{post.title}}</b> 
    </mat-expansion-panel-header>  
    <p>{{post.content}}</p> 
    <mat-action-row>
      <button mat-button><a class="btn">
        <i id="edit" title="Edit" class="fa fa-pencil-square-o"></i>
      </a></button>
      <button mat-button><a class="btn">
        <i id="trash" title="Delete" class="fa fa-trash-o"></i>
      </a></button>
    </mat-action-row>     
</mat-expansion-panel>
</mat-accordion>
<ng-template #elseblock >
  <p id="elseblock" class="info-text mat-body-1">No posts are added yet!</p>
</ng-template>